{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>Titus - Photo Gallery</title>
        
        {% block styles %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"> -->
        {% bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/css/index.css' %}">
        {% endblock %}

        
    </head>
    <body>
        {% include "navbar.html" %}
        {% block content %}
        {% endblock %}
	    <div class='container'>
		    <div class="gallery">
                {% block body %}
                {% endblock body %}
		    </div>
        </div>

        
        
        {% block scripts %}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
        {% bootstrap_javascript %}
            <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        {% endblock %}
    </body>
</html>